.navigation {
  &_checkbox {
    display: none; //para que no se vea el checkbox por defecto del browser
  }

  &_button {
    background-color: $color-white;
    text-align: center; //para que las rayitas hamburguesa estén centradas en el círculo blanco

    //para que sea redondo: un poco más grande que el _background para que lo cubra
    height: 7rem;
    width: 7rem;
    border-radius: 50%;

    position: fixed;
    top: 6rem;
    right: 6rem;
    z-index: 2000; //para que quede por encima del _background

    box-shadow: 0 1rem 3rem rgba($color-black, 0.1);
    cursor: pointer;
  }

  &_background {
    //acá hacemos un circulo verde que luego se expandirá (está detrás del circulo blanco _button)

    //para que sea redondo
    height: 6rem;
    width: 6rem;
    border-radius: 50%;

    position: fixed;
    top: 6.5rem;
    right: 6.5rem;

    background-image: radial-gradient(
      $color-primary-light,
      $color-primary-dark
    );

    z-index: 1000; //hace quede detrás del &_nav

    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  }
  /*tool para sacar las cuentas https://easings.net/. 
  A Bézier curve can be used to specify the velocity over time of an object such as an icon moving 
  from A to B, rather than simply moving at a fixed number of pixels per step*/

  &_nav {
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 1500; //para que quede encima del _background pero por debajo del _button

    opacity: 0;
    width: 0;

    /*opacity:0; ...haría que no lo vieramos en el fondo pero tiene el problema de que igual el 
    cursor marcaría que hay links. Por eso tb tenemos que ponerle widht:0;*/

    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); //las letras se vean van y vienen
  }

  &_list {
    //Centramos - como lo repetimos mucho en el código Hacer un mixin (TAREA)
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    list-style: none;
    text-align: center;

    width: 100%;
  }

  &_item {
    margin: 1rem;
  }

  &_link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;

      padding: 1rem 2rem;

      //TRANSFORM de los ITEMS: background blanco sobre los items

      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-white 50%
      );
      background-size: 220%;

      transition: all 0.2s;

      span {
        margin-right: 1.5rem;
        display: inline-block;
      }
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;

      transform: translateX(1rem);
    }
  }

  //TRANSFORM: Background y Nav se agrandan y vuelven visibles
  // Pseudo-class :checked y general sibling attribute selector

  &_checkbox:checked ~ &_background {
    transform: scale(80);
  }

  &_checkbox:checked ~ &_nav {
    opacity: 1;
    width: 100%;
  }

  //ICON ::before and ::after pseudo-element para hacer las rayitas hamburguesas
  &_icon {
    position: relative;
    margin-top: 3.5rem;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px; //no usamos rem así no cambia, siempre sea 2px
      background-color: $color-grey-dark-3;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;

      transition: all 0.2s;
    }

    &::before {
      top: -0.8rem; //hace se mueva hacia arriba
    }

    &::after {
      top: 0.8rem;
    }
  }

  //la línea hamburguesa se vuelve cruz
  &_button:hover &_icon::before {
    top: -1rem;
  }

  &_button:hover &_icon::after {
    top: 1rem;
  }

  &_checkbox:checked + &_button &_icon {
    background-color: transparent; //hace desaparecer la raya del medio
  } //pseudo-class checked con adyacent sibling y descendant sibling

  &_checkbox:checked + &_button &_icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &_checkbox:checked + &_button &_icon::after {
    top: 0;
    transform: rotate(-135deg);
  }

  //Nota: Ver "transform-origin (tarea)
}
