.card {
  //FUNCTIONALITY

  perspective: 150rem;
  -moz-perspective: 150rem; //para que funcione en firefox browser
  /*hace que la tarjeta tenga un efecto de rotate más lindo. Si ponemos pocos rem veremos que el efecto
  es más exagerado. Hay que ir probando hasta ver que se vea lindo. Acá con 150rem se ve bien, menos
  ya se ve feo*/

  position: relative; //relative en el parent
  height: 54rem; //ponemos igual height que el child &_side, sino las alturas colapsan y se enciman

  &_side {
    height: 54rem;
    transition: all 0.8s ease;

    position: absolute; //absolute en el child. Es para que los dos lados estén una sobre la otra
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden; //para que funciones en Safari
    backface-visibility: hidden; //para no ver la cara de atrás de la tarjeta

    border-radius: 3px;
    overflow: hidden; //para que se sigua viendo el border-radius aún aplicando el card_picture
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    &--front {
      background-color: $color-white;
    }

    &--back {
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        );
      }

      &-2 {
        background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        );
      }

      &-3 {
        background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        );
      }
    }
  }

  &:hover &_side--front {
    transform: rotateY(
      -180deg
    ); //negativo para que gire en la dirección contraria
  }
  /*sería igual a .card:hover .card_side--front {}, lo que implica que cuando hagamos hover sobre la card 
  entonces se transforme el card_side--front*/

  &:hover &_side--back {
    transform: rotateY(0deg);
  }

  //FRONT-SIDE STYLING

  &_picture {
    background-size: cover; //lo ponemos acá para que se aplique a todas las cards
    height: 23rem;

    background-blend-mode: screen; /*esto va a compaginar las dos imágenes, gradient y jpg. 
    No funciona en todos los browsers*/

    -webkir-clip-path: polygon(
      0 0,
      100% 0,
      100% 85%,
      0 100%
    ); //para que fxne en todos los browsers
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    border-top-left-radius: 3px; //esto porque chrome y clip-path rompe el border-radius
    border-top-right-radius: 3px;

    &--1 {
      background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        ),
        url(../img/nat-5.jpg);
    } //esto mezcla dos imágenes, el gradiente y la .jpg

    &--2 {
      background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        ),
        url(../img/nat-6.jpg);
    }

    &--3 {
      background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        ),
        url(../img/nat-7.jpg);
    }
  }

  &_heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-align: right;
    text-transform: uppercase;
    color: $color-white;

    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%;
  }

  &_heading--span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone; //para que funcione en chrome
    box-decoration-break: clone;
    /*esta propiedad aplica igual padding a todas las cajas. Ver en inspeccionar que si lo sacamos el
    heading se desalinea*/

    &-1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary-light, 0.85),
        rgba($color-secondary-dark, 0.85)
      );
    }

    &-2 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.85),
        rgba($color-primary-dark, 0.85)
      );
    }

    &-3 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-tertiary-light, 0.85),
        rgba($color-tertiary-dark, 0.85)
      );
    }
  }

  &_details {
    padding: 3rem;

    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; //la forma sencilla de centrar un block element dentro de otro block element

      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid $color-grey-light-2;
        }
      }
    }
  }

  //BACK-SIDE STYLING

  &_cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(
      -50%,
      -50%
    ); //así centramos un elemento con position y transform
    width: 90%;
    text-align: center;
  }

  &_price-box {
    text-align: center;
    color: $color-white;
    margin-bottom: 8rem;
  }

  &_price-only {
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  &_price-value {
    font-size: 6rem;
    font-weight: 100;
  }

  @include respond(tab-port) {
    height: auto;
    border-radius: 3px;
    background-color: $color-white;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    &_side {
      height: auto;

      position: relative;
      box-shadow: none;

      &--back {
        transform: rotateY(0);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
      }
    }

    &:hover &_side--front {
      transform: rotateY(0);
    }

    &_details {
      padding: 1rem 3rem;
    }

    //BACK-SIDE STYLING

    &_cta {
      position: relative;
      top: 0%;
      left: 0%;
      transform: translate(0);
      width: 100%;
      padding: 7rem 4rem 4rem 4rem;
    }

    &_price-box {
      margin-bottom: 3rem;
    }

    &_price-value {
      font-size: 4rem;
    }
  }
}
