.feature-box {
  background-color: rgba($color-white, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.233);

  transition: transform 0.3s;

  @include respond(tab-port) {
    padding: 2rem;
  }

  &_icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    background-image: linear-gradient(
      to right,
      $color-primary-light,
      $color-primary-dark
    );
    background-clip: text;
    -webkit-background-clip: text;
    /*Esto hace que el background-image gradient solo se pegue al texto.
      Hay que poner dos veces el background-clip para que el navegador lo agarre. 
      */
    color: transparent;
    /*el color del texto lo ponemos en transparente para solo ver el background-image gradient.
      Si no lo ponemos transparente veremos el texto en su color gris, pues se sienta sobre el 
      background-image con gradient*/

    display: inline-block;
    /*esto es para que el color solo ocupe el espacio de la tipografía. Porque el h2 sería un block
      element y ocuparía todo el ancho de la pantalla, y el gradient se vería en todo el ancho*/

    @include respond(tab-port) {
      margin-bottom: 0;
    }
  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.03); //el negativo hace se mueva para arriba
  }
}
