.popup {
  height: 100vh;
  width: 100%;
  background-color: rgba($color-black, 0.8);

  position: fixed;
  top: 0;
  left: 0;

  z-index: 9999; //para que se ponga delante de todo

  opacity: 0;
  visibility: hidden; //estos dos hará que no se vea hasta que hagamos en click en el botón que digamos

  transition: all 0.3s; //animation en rlx al target

  &_content {
    @include absCenter;

    width: 79%;
    background-color: $color-white;

    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    border-radius: 3px;
    overflow: hidden; //para que se vean las esquinas redondeadas sino collapsan

    display: table;
    /*técnica para centrar verticalmente. Al parent &_content le ponemos display:table; y a los child 
   &_left y &_right les ponemos display:table-cell;. El browser les dará automáticamente a todos el
   mismo height.*/

    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    /*tenemos que poner el translate porque como el mixin ya tiene un transform si no repetimos lo
    que define el mismo no nos funcionaría el scale*/
    transition: all 0.4s;

    @include respond(phone) {
      width: 90%;
    }
  }

  &_left {
    width: 33.333333%;
    display: table-cell; //es una técnica para centrar verticalmente un elemento

    @include respond(tab-land) {
    }

    @include respond(tab-port) {
      display: none;
    }
  }

  &_right {
    width: 66.6666667%;
    display: table-cell;

    vertical-align: middle; //es algo que podemos aplicar a las table-cell para que se centre
    padding: 3rem 5rem;
  }

  &_img {
    display: block; //para que las imágenes vayan una debajo de la otra
    width: 100%; //para que ocupe todo el parent width
  }

  &_text {
    font-size: 1.4rem;
    margin-bottom: 4rem;

    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid $color-grey-light-2;
    column-count: 2; //divide en texto en dos columnas
    column-gap: 4rem; //el espacio entre columnas (por defectos es de 1rem=14px because is the font-size of the current element)
    column-rule: 1px solid $color-grey-light-2; //es el borde entre columnas

    -moz-hyphens: auto; //firefox
    -ms-hyphens: auto; //edge
    -webkit-hyphens: auto; //chrome and safari
    hyphens: auto;

    @include respond(tab-port) {
      column-count: 1;
    }
  }
  /*coloca guión donde debe separar las palabras. Hay que poner en el html el idioma de nuestra página 
  para que funcione correctamente*/

  //ANIMACIÓN-EFECTO tarjeta popup

  &:target {
    opacity: 1;
    visibility: visible;
  } //cuando apretemos el botón detrás de las tarjetas el popup se verá. poner transition en .popup

  &:target &_content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  } //cdo el popup sea el target entonces el _content realiza la animación. Se agranda y se visibiliza

  &_close {
    &:link,
    &:visited {
      color: $color-grey-dark;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      line-height: 0;
      text-decoration: none;
      display: inline-block;

      transition: all 0.2s;
    }

    &:hover {
      color: $color-primary;
    }
  }
}
