.composition {
  position: relative;
  &_photo {
    width: 55%; //es en % para que la imagen sea mas responsive, flexible images
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;

    transition: all 0.2s;

    outline-offset: 2rem; //crea el espacio entre el borde verde y la foto del outline cuando hago hover

    &--p1 {
      left: 0;
      top: -2rem;
    }

    &--p2 {
      right: 0;
      top: 2rem;
    }

    &--p3 {
      left: 20%;
      top: 10rem;
    }

    &:hover {
      outline: 1.5rem solid $color-primary; //crea el borde verde alrededor de la foto
      transform: scale(1.05);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
      z-index: 20;
    }
  }

  &:hover &_photo:not(:hover) {
    transform: scale(0.95) translateY(-0.5rem);
  }
  /*esto es para que cuando hacemos hover sobre una foto las otras se achiquen
sería igual a - composition:hover composition_photo:not(:hover) - es decir que cuando hagamos hover
en el composition que seleccione las composition_photos menos sobre la que estoy haciendo hover*/
}
