/********ANIMATIÓN del Título del header*************/

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); /*igual a -100px*/
  }
  80% {
    transform: translateX(1rem); /*igual a 10px*/
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); /*igual a 100px*/
  }
  80% {
    transform: translateX(-1rem); /*igual a -10px*/
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/*
  - La animación podemos hacerla con Transition y luego hoover. Pero en este caso vemos otro modo 
  con @keyframe, se le pone un nombre (identifier) y luego se especifica 0% (cuando comienza) 100% (cuando
  termina) desde donde hasta donde va la animación. 
  -En 0 ponemos opacity 0 para que el elemento no se vea, y en 100 ponemos opacity 1 para que sea visible.
  -Transform:translatex, es que se mueva en dirección el eje x (horizontalmente), si es número negativo se
  mueve de derecha a izq y si es positivo de izq a der. 
  -Ahora vamos al selector (en nuestro caso: .heading-primary-main y sub) que queremos animar y 
  colocamos animation-name y animation-duration
  - Otra properties de Animation es Delay:..s, para que la animación empiece después de x tiempo. Otra
  animation-iteration-count:nº, por ejemplo si ponemos 3, se repite 3 veces....etc
  - A veces la animación, sin que se sepa bien porqué, rebota (en mi caso no hace eso el browser), 
  para evitarlo en .heading-primary usamos backface-visibility:hidden; 
  es un truco no se sabe porqué funciona. 
  */

/*Animación del boton*/

@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateY(3rem); /*igual a 30px*/
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
