body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; antes de crear el root teníamos este font-size 
    que ahora sacamos para poner las demás unidades en rem*/
  line-height: 1.7;
  color: $color-grey-dark;
}
/*
  - font-family, es de google fonts, cuyo link hay que agregar en el código html, head section.
  - font-weight, 400 es igual a normal (default), y 700 igual a bold
  - line-height, si ponemos un número significa que es lo que se va a multiplicar del font size
  (se pueden usar px, rem, %...etc)
  - Agregamos un padding en el body, lo que hace que todos los elementos de nuestra página ahora
  tengan el mismo, salvo lo reescribamos.
  */

.heading-primary {
  color: $color-white;
  text-transform: uppercase;

  backface-visibility: hidden; /*es para que funcione mejor la animación*/

  margin-bottom: 6rem; /*es para que el button se separe del heading*/

  &--main {
    display: block;
    font-size: 6rem; /* igual a 60px*/
    font-weight: 400;
    letter-spacing: 3.5rem; /*igual a 35px*/

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    @include respond(phone) {
      letter-spacing: 1rem;
      font-size: 5rem;
    }
  }

  &--sub {
    display: block;
    font-size: 2rem; /*igual a 20px*/
    font-weight: 700;
    letter-spacing: 1.74rem; /*igual a 17.4px*/

    animation: moveInRight 1s ease-out;

    @include respond(phone) {
      letter-spacing: 0.5rem;
    }
  }

  /*
  -usamos display block para que cada span esté uno debajo del otro, de lo contrario by default
  son un inline element y estarían uno al lado del otro
  -el font-weight lo especificamos porque por defecto h1 tiene bold, y se sobreescribe al que
  ya habíamos puesto en el body por estar el h1 luego del body. Así que volvemos a poner 400px
  para que no sea bold.
  - Aniation property, en el heading-primary-sub usé el shorthand (de animation-name, animation-duration,
  animation-timing-function. 
  */
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;

  @include respond(tab-port) {
    font-size: 3rem;
  }

  @include respond(phone) {
    font-size: 2.5rem;
  }

  /*GRADIENTE PARA LAS LETRAS. Se le pone un background-image con gradient*/

  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  background-clip: text;
  -webkit-background-clip: text;
  /*Esto hace que el background-image gradient solo se pegue al texto.
  Hay que poner dos veces el background-clip para que el navegador lo agarre. 
  */
  color: transparent;
  /*el color del texto lo ponemos en transparente para solo ver el background-image gradient.
  Si no lo ponemos transparente veremos el texto en su color gris, pues se sienta sobre el 
  background-image con gradient*/

  display: inline-block;
  /*esto es para que el color solo ocupe el espacio de la tipografía. Porque el h2 sería un block
  element y ocuparía todo el ancho de la pantalla, y el gradient se vería en todo el ancho*/

  transition: all 0.2s; //la animación cuando hacemos hover. "all" es que se aplique a todas las properties

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1); //ponemos cada efecto separados con espacio
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.315);
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
