.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;
}

/*ponemos 25rem porque si vemos el header tiene de height 95vh y el clip-path del
  polígono llega hasta 75vh. La direfencia es 20. 
  Por eso vamos a poner un padding de 25rem para que el titulo quede más abajo que esos 20, y luego
  un margin en negativo -20 para que el backgroun-color vaya hacia arriba y cubra toda la sección
  Ver en inspeccionar de chrome para entenderlo mejor!!*/

.feature-section {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/nat-4.jpg);
  background-size: cover;
  margin-top: -10rem; //en negativo para que se mueva hacia arriba

  transform: skewY(-7deg);

  & > * {
    transform: skewY(7deg);
  } //esto sería .feature-section > * : es decir todos los direct child de feature-section
}

/*explicación de los transform: con el skewY negativo distorcionamos hacia arriba el background. Luego
para que nuestras tarjetas no se distorcionen ponemos transform positito, así se enderezan.*/

.section-tours {
  background-color: $color-grey-light-1;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem;
}

.section-stories {
  padding: 15rem 0;

  position: relative; /*lo ponemos position relative por ser el parent de bg-video a quien hemos dado
  position:absolute. De este modo quedará el video encimado como si fuera un background*/
}
